<div class="container-fluid">
  <div class="row flex-column">
    <div class="col-12">
      <h1 class="">{{title}}</h1>
    </div>

    <form #f="ngForm" (ngSubmit)="addTodo(f)"  class="col-4">
      <div class="mb-3 ">
        <input
          required
          minlength="4"
          ngModel
          #todoHeading="ngModel"
          name="todoHeading"
          type="text"
          class="form-control"
          placeholder="Enter your todo heading">
        <div *ngIf="todoHeading.touched&&todoHeading.invalid" class="alert alert-danger p-1">
         <div *ngIf="todoHeading.errors?.['required']" >
            required
         </div>
          <div *ngIf="todoHeading.errors?.['minlength']" >
            Minimum of 4 letters is required
          </div>
        </div>
      </div>
      <div class="mb-3">
        <textarea
          required
          minlength="8"
          ngModel
          #todoContent="ngModel"
          name="todoDescription"
          type="text"
          class="form-control"
          placeholder="Enter your todo description"></textarea>
        <div *ngIf="todoContent.touched&&todoContent.invalid" class="alert alert-danger p-1">
          <div *ngIf="todoContent.errors?.['required']" >
            required
          </div>
          <div *ngIf="todoContent.errors?.['minlength']" >
            Minimum of 8 letters is required
          </div>
        </div>
      </div>

      <div class="mb-3">
        <button [disabled]="f.invalid" class="btn btn-secondary w-100">ADD YOUR TODO</button>
      </div>

    </form>
    <div class=" col-4">
      <div class="card w-100 m-1" *ngFor="let todo of todos">
        <div class="card-body" [class.bg-success]="todo.isCompleted">
          <h5 class="card-title">{{todo.heading |titlecase}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{todo.createdTime | date}}</h6>
          <p class="card-text">{{todo.description}}
          </p>
          <button  class="card-link btn" (click)="removeTodo(todo)"><img src="assets/delete.png" width="25" height="25"></button>
          <div class="card-link form-check btn border-0">
            <input [(ngModel)]="todo.isCompleted" type="checkbox" class=" form-check-input">
          </div>

<!--          <button *ngIf="!todo.isCompleted" (click)="toggleStatus(todo)" class="card-link btn btn-primary">Mark as-->
<!--            completed</button>-->
<!--          <button *ngIf="todo.isCompleted" (click)="toggleStatus(todo)" class="card-link btn btn-primary">Mark as-->
<!--            incompleted</button>-->
        </div>
      </div>
    </div>

  </div>

</div>
